DATABASE_URL=postgresql://postgres:[Pinkyelephant123!]@db.ilacfyhftgvyvyuxfmln.supabase.co:5432/postgres
NEXT_PUBLIC_SUPABASE_URL=https://ilacfyhftgvyvyuxfmln.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
NEXTAUTH_SECRET=replace_with_a_long_random_secret
NEXTAUTH_URL=http://localhost:3000
